body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
  }
  
  .container-lista-actividades {
    max-width: 400px;
    margin: 20px auto;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
  }
  
  h1 {
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  ul {
    list-style-type: none;
    padding: 0;
  }
  
  li {
    font-size: 16px;
    margin-bottom: 10px;
    border-bottom: 1px solid #ddd;
    padding-bottom: 5px;
  }
  
  li:last-child {
    border-bottom: none;
  }
  
  /* Agrega este estilo al botón */
  #btnAgregar {
    background-color: #007bff; /* Color de fondo */
    color: #fff; /* Color del texto */
    border: none; /* Sin borde */
    padding: 10px 20px; /* Espaciado interno */
    cursor: pointer; /* Cambiar el cursor al pasar el ratón */
    border-radius: 5px; /* Bordes redondeados */
    font-size: 16px; /* Tamaño de fuente */
    display: block; /* Ajustar el ancho */
    margin: 20px auto; /* Margen superior e inferior */
  }
  
  /* Cambiar el estilo del botón al pasar el ratón por encima */
  #btnAgregar:hover {
    background-color: #0056b3; /* Cambia el color de fondo al pasar el ratón */
  }
  
  #btnCambiarColor {
    background-color: #ffc107; /* Color de fondo */
    color: #fff; /* Color del texto */
    border: none; /* Sin borde */
    padding: 10px 20px; /* Espaciado interno */
    cursor: pointer; /* Cambiar el cursor al pasar el ratón */
    border-radius: 5px; /* Bordes redondeados */
    font-size: 16px; /* Tamaño de fuente */
    display: block; /* Ajustar el ancho */
    margin: 20px auto; /* Margen superior e inferior */
  }
  